<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jpda">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/cover"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cover"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jiao.pda2.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <activity android:name="com.example.jpda.ui.lists.ListFiveActivity" android:parentActivityName="com.example.jpda.ui.MenuActivity" android:label="发货拣货">
        </activity>
        <activity android:name="com.example.jpda.ui.lists.ListOneActivity" android:parentActivityName="com.example.jpda.ui.MenuActivity" android:label="待入库">

        </activity>
        <activity android:name="com.example.jpda.ui.lists.ListFourActivity" android:parentActivityName="com.example.jpda.ui.MenuActivity" android:label="其他出库">

        </activity>
        <activity android:name="com.example.jpda.ui.lists.ListThreeActivity" android:parentActivityName="com.example.jpda.ui.MenuActivity" android:label="条码返工出库">

        </activity>
        <activity android:name="com.example.jpda.ui.lists.ListTwoActivity" android:parentActivityName="com.example.jpda.ui.MenuActivity" android:label="条码拆托返工">

        </activity>

        <activity android:name="com.example.jpda.ui.MenuActivity" android:label="菜单">

        </activity>

        <activity android:name="com.example.jpda.ui.LoginActivity" android:windowSoftInputMode="stateHidden|stateUnchanged|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>

        </activity>

        <activity android:name="com.example.jpda.ui.ChoiceHouse" android:parentActivityName="com.example.jpda.ui.LoginActivity" android:label="选择待入库仓库">

        </activity>

        <activity android:name="com.example.jpda.ui.lists.ListSixActivity" android:parentActivityName="com.example.jpda.ui.MenuActivity" android:label="拣货">

        </activity>
        <activity android:name="com.example.jpda.ui.lists.ListSevenActivity" android:label="条码详细">

        </activity>
    </application>

</manifest>